 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 26px;
    line-height: 34px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700px;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
   /** margin: 15px 0 20px 0;**/
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2sec ease;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2sec ease;
}

body {
    width: 100%;
}

/* header start*/

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e8f6ea;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;

}

.logo img {
    width: 65px;
    border-radius: 4px;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    background-size: cover;
    z-index: 10;

}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover, 
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

.cart {
    position: relative;
    background-color: #fff;
    color: #000000;
    font-size: 30px;
    padding: 5px;
    border-radius: 4px;
}
.mg2 {
    color: #000000;
}




.cartAmount {
    position: absolute;
    top: -15px;
    right: -10px;
    font-size: 1rem;
    background-color: red;
    color: whitesmoke;
    font-size: 1rem;
    padding: 3px;
    border-radius: 3px;
}
/* home page*/

#hero {
    background-image: url("product images/image3.jpeg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
     color: #088178;
}

#hero button {
    background-image: url();
    background-color: thistle;
    color: #088178;
    border: 0;
    border-radius: 4px;
    padding: 14px ;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    margin-top: 10px;
}

#hero button:hover{
    background-color: transparent;
    transition: 0.2s ease-in-out;
}
#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wra;
    align-items: center;
    background-image: url("product images/images/img9.jpeg");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-size: cover;
    background-color: #041e42;

}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}


#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span {
    color: #ffbd27;
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter input {
   height: 3.125rem;
   padding: 0 1.25em;
   font-size: 14px;
   width: 100%;
   border-radius: 4px;
   border: 1px solid;
   outline: none;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
}

#newsletter button {
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
   border-bottom-left-radius: 0;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo1 {
    margin-bottom: 30px;
}

footer .h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
color: #465b52;
padding-right: 4px;
cursor: pointer;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
    color: #088178;
}

footer .copyright {
    width: 100%;
    text-align: center;
}




#page-header {
    background-image:url("product images/images/img2.jpeg") ;
    background-color: #000;
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
    margin-bottom: 30px;
}

#page-header h2,
#page-header p {
    color: #fff;
}

/** shop items are here
 **/

 .shop {
    display: grid;
    grid-template-columns: repeat(4, 223px);
    gap: 30px;
    justify-content: center;
 }

 /* blog styles */
 #page-header.blog-header{
    background-image: url("product images/images/img2.jpeg");
 }

 #blog {
    padding: 150px 150px 0 150px;
    z-index: -2;
 }

 #blog .blog-box {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
 }

 #blog .blog-img{
    width: 50%;
    margin-right: 40px;
    
 }

 #blog img {
    width: 100%;
    height: 300px;
    object-fit: cover;
 }

 #blog .blog-details {
    width: 50%;
    gap: 10px;
 }

 #blog .blog-details h4 {
    padding-bottom: 10px;
 }

 #blog .blog-details p{
    padding-bottom: 10px;
 }

 #blog .blog-details a{
    text-decoration: none;
    font-size: 11px;
    color:#000;
    font-weight: 700;
   padding-top: 10px;
   position: relative;
   transition: 0.3s;
 }

 #blog .blog-details a::after{ 
    content: "";
    width: 50%;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 17px;
    right: -60px;
 }

 #blog .blog-details a:hover { 
    color: #088178;
 }

 #blog .blog-details a:hover:after{ 
    background-color: #088178;
 }

 #blog .blog-box h1{
    position: absolute;
    top: -45px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;

 }

  /* about page */ */
 #page-header.about-header{
    background-image: url("product images/images/img6.jpeg");
    background-size:contain;
    background-repeat: no-repeat;
 }

 #about-head {
    display: flex;
    align-items: center;
 }

 #about-head img{
    width: 50%;
    height: auto;
 }

 #about-head div{
    padding-left: 40px;
 }

 #about-app{
    text-align: center;
 }

 #about-app .video{
width: 50%;
height: 50%;
margin: 30px auto 0 auto;
;
 }

 #about-app .video video{
    width: 50%;
    height:50%;
    border-radius: 20px;
   
 }






 @media (max-width:1000px) {
    .shop{
        grid-template-columns: repeat(2, 223px);
    }
 }

 @media (max-width:799px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
        padding: 80px 0 0 10px ;
        transition: 0.3s;
        z-index: 10;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        visibility: initial;
        display: flex;
        align-items: center;
        gap: 20px;  
        z-index: 6;
    }

    #mobile i {
        color: #1a1a1a;
        padding-left: 20px;

    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    

    #mg1 {
        z-index: -1;
    }

 }

 

 @media (max-width:500px) {
    
    .shop{
        grid-template-columns: repeat(1, 223px);
    }

    /* blog */
    #blog .blog-box {
        display: flex;
        align-items: flex-start;
     flex-direction: column;
    }

    #blog {
        padding: 100px 20px 0 20px;
    }

    #blog .blog-img {
        width: 100%;
        margin-right: 0px;
        z-index: -1;
        margin-bottom: 30px;
    }

    #blog .blog-details {
        width: 100%;
        
    }

    #newsletter {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .section-p1 {
        padding: 10px 20px;
    }

    #newsletter .form {
        width: 80%;
    }

    /* about-head */
    #about-head{
        flex-direction: column;
    }

    #about-head img{
        width: 100%;
    }

    #about-head div{
        padding-left: 0px;
    }
 }

 .item {
    border: 2px solid #212529;
    border-radius: 5px;
 }

 .item img{
    width: 100%;
    border-radius: 2px 2px 0 0;
 }

 .details{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
 }

.price-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 16px;
}

.bi-dash-lg{
    color: red;
}
.bi-plus-lg{
    color: green;
}


.text-center{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.HomeBtn,
.checkout,
.removeAll {
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
    border: none;
    color: white;
    background-color: black;
}

.checkout{
    background-color: green;
}

.removeAll{
    background-color: red;
}

.bi-x-lg{
    color: red;
    font-weight: bold;
}


.shopping-cart{
    display: grid;
    grid-template-columns: repeat(1, 320px);
    justify-content: center;
    gap: 15px;
}

.cart-item {
    border: #212529 2px solid;
    border-radius: 5px;
    display: flex;
}

.title-price-x{
    width: 195px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.title-price{
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-item-price {
    background-color: #212529;
    color: white;
    border-radius: 4px;
    padding: 3px 6px;
}

